{% extends 'layout.html' %}
{% load static %}
{% load filters %}

{% block title %}SpaceJump &mdash; Тестирование результата игровой сессии{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/testing.css" %}" />
{% endblock %}

{% block content %}
    <div class="page-columns-wrapper page-content">
        <h1>Тестовая результата игры</h1>
        <p>Эта форма устарела, нужно ее доработать</p>
        <div class="page-column" id="testing-params">
            <h2>Поля</h2>
            <div class="page-row" id="select-method-row">
                <form method="post">
                    <div class="form-row">
                        <label for="session_id">Id сессии</label>
                        <input name="session_id" id="session_id" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="win">Была победа?</label>
                        <input name="win" id="win" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="score">Набранные очки</label>
                        <input name="score" id="score" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="bronze_coins">Бронзовые монетки</label>
                        <input name="bronze_coins" id="bronze_coins" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="silver_coins">Серебряные монетки</label>
                        <input name="silver_coins" id="silver_coins" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="gold_coins">Золотые монетки</label>
                        <input name="gold_coins" id="gold_coins" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="trophy_found">Найден ли трофей?</label>
                        <input name="trophy_found" id="trophy_found" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="cola">Кола</label>
                        <input name="cola" id="cola" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="distance">Дистанция, м</label>
                        <input name="distance" id="distance" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="booster_count">Ускорители</label>
                        <input name="booster_count" id="booster_count" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="power_shield_count">Щиты (бессмертие)</label>
                        <input name="power_shield_count" id="power_shield_count" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="heart_count">Сердца</label>
                        <input name="heart_count" id="heart_count" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="shield_count">Щиты</label>
                        <input name="shield_count" id="shield_count" value="0" />
                    </div>
                    <div class="form-row">
                        <label for="items_used">
                            <abbr title="Через запятую без пробелов">
                                Список id использованных предметов</abbr>
                        </label>
                        <input name="items_used" id="items_used" value="" />
                    </div>
                    <div class="form-row">
                        <label for="salt">Соль для подписи</label>
                        <input name="salt" id="salt" value="quxisog." />
                    </div>
                    <div class="form-row">
                        <button type="submit">Создать</button>
                    </div>
                </form>
            </div>
        </div>
        {% if result %}
            <div class="page-column" id="testing-result">
                <h2>Ответ</h2>
                <div class="page-row">
                    JSON:
                    <br />
                    <textarea class="testing-response-textarea" id="testing-game-result-json" readonly="readonly">{{ result.json_data }}</textarea>
                </div>
                <div class="page-row">
                    Base64:
                    <br />
                    <textarea class="testing-response-textarea" id="testing-game-result-base64" readonly="readonly">{{ result.base64_data }}</textarea>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
