<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static "css/common.css" %}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
