{% extends 'layout.html' %}
{% load static %}
{% load filters %}

{% block title %}SpaceJump &mdash; Тестовая среда{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/testing.css" %}" />
{% endblock %}

{% block content %}
    <div class="page-columns-wrapper page-content">
        <h1>Тестовая среда</h1>
        <div class="page-column" id="testing-params">
            <h2>Параметры</h2>
            <div class="page-row" id="select-method-row">
                <div class="form-row">
                    <label for="select-method">Метод API</label>
                    <select id="select-method">
                        {% for method, args in methods_list %}
                            {% ifequal method selected_method %}
                                <option value="{{ method }}" selected="selected">{{ method }}</option>
                            {% else %}
                                <option value="{{ method }}">{{ method }}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                    <script>
                        (function() {
                            'use strict';
                            var select = document.getElementById('select-method');
                            select.addEventListener('change', onSelect);
                            function onSelect() {
                                var method = this.value;
                                window.location = '/backoffice/api-testing/' + method;
                            }
                        })();
                    </script>
                </div>
            </div>
            {% if selected_method %}
                <div class="page-row" id="selected-method-arguments">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="execute" value="1" />
                        <div class="form-row">
                            <label for="soc_net_params_soc_net_id">Id пользователя</label>
                            <input
                                    type="text"
                                    id="soc_net_params_soc_net_id"
                                    name="testing_soc_net_id"
                                    {% if post.testing_soc_net_id %}
                                        value="{{ post.testing_soc_net_id }}"
                                    {% else %}
                                        value="3081515"
                                    {% endif %}
                                    />
                        </div>
                        {% for arg_name in methods_list|tuple_key:selected_method %}
                            <div class="form-row">
                                <label for="args_{{ arg_name }}">{{ arg_name }}</label>
                                <input
                                        type="text"
                                        id="args_{{ arg_name }}"
                                        name="args[{{ arg_name }}]"
                                        value="{{ methods_list|tuple_key:selected_method|key:arg_name }}" />
                            </div>
                        {% endfor %}
                        <div class="form-row">
                            <button type="submit" class="form-submit">Выполнить</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            {% comment %}
            <div class="page-row">
                <a href="/backoffice/result-testing/" target="_blank">Тестирование результата</a>
            </div>
            {% endcomment %}
        </div>
        {% if response %}
            <div class="page-column" id="testing-result">
                <h2>Ответ</h2>
                <div class="page-row">
                    <b>URL:</b> <code>{{ response.url }}</code>
                </div>
                <div class="page-row">
                    <b>POST:</b>
                    <br />
                    {% for var in response.post %}
                        <div><code>{{ var }} &rarr; {{ response.post|key:var }}</code></div>
                    {% endfor %}
                </div>
                <div class="page-row">
                    <b>Http status:</b> <code>{{ response.status }}</code>
                    <br />
                    <b>Content-Type:</b> <code>{{ response.content_type }}</code>
                </div>
                {% if response.data %}
                    <div class="page-row">
                        Данные ответа:
                        <br />
                        <textarea class="testing-response-textarea" id="testing-response-data" readonly="readonly">{{ response.data|print_r }}</textarea>
                    </div>
                {% endif %}
                <div class="page-row">
                    Текст ответа:
                    <br />
                    <textarea class="testing-response-textarea" id="testing-response-text" readonly="readonly">{{ response.text }}</textarea>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
