html {
    overflow-y: scroll;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    height: 100%;
}

h1, h2 {
    margin: 10px 0;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.3em;
}

code {
    font-family: 'Andale Mono', monospace;
}

.page-wrapper {
    position: relative;
    overflow: hidden;
}

.page-content {
    margin: 0 10px;
}

.page-row {
    margin: 10px 0 20px;
}

.form-row {
    margin: 0 0 10px;
}

.form-row label, .form-row input[type=text], .form-row select {
    display: block;
}

.page-columns-wrapper {
    overflow: hidden;
}

.page-column {
    float: left;
    overflow: hidden;
}
