#testing-params {
    width: 20%;
    overflow: hidden;
}

#testing-result {
    width: 80%;
    overflow: hidden;
}

.testing-response-textarea {
    width: 750px;
    font-family: 'Andale Mono', monospace;
}

#testing-response-data {
    height: 400px;
}

#testing-response-text {
    height: 100px;
}

#testing-game-result-json {
    height: 100px;
}

#testing-game-result-base64 {
    height: 100px;
}
